{% include "./Header.html"%}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="background-color: whitesmoke;background-image:url({% static '/images/background.jpg' %}); background-repeat:no-repeat;width: 100%; background-size: cover">

<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 align="center">
        <img src="{% static '/images/img3.png' %}" class="mx-auto d-block" style="width:35%">
        <br>
    </h1>
</div>

</body>
</html>

{% include "./Footer.html"%}