   {% load static %}
    {% include "./Header.html"%}
<script type="text/javascript">
    $(function (){
        setTimeout(function(){
            $('#timeout').fadeOut(1000);
        }, 2000)
    })
</script>

<body
    style="background-color: hsl(0, 0%, 96%);background-image:url({% static '/images/welcome-background.jpg' %}); background-repeat:no-repeat;width: 100%; background-size: cover">
</body>
<br>
    {% if request.session.msg != None %}
<h3 style="color:red;text-align: center;font-family: bold;" id="timeout">{{ request.session.msg }}</h3>
{% endif %}
<br>
{% if form.out %}
<h3 style="color:green;text-align: center;font-family: bold;" id="timeout">{{ form.out }}</h3>
{% endif %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"></div>

        <div class="col-lg-4">
            <div class="modal-content" style="background-color:rgba(255, 255, 255, 0.212);">
                <div class="card-header ">
                    <h2 class="modal-title" style="padding-left: 143px; font-family: bold; font-size: xx-large">LogIn
                    </h2>
                </div>
                <div class="container-fluid">

                    <form method="POST" novalidate>
                        <div class="modal-body">
                            <div class="form-group row">
                                <label class="col-md-4 form-control-label">Login<span style="color: red;">* </span>
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control" name="login_id" value="{{form.login_id}}"
                                        placeholder="Enter your Login ID">

                                </div>
                                <span style="color:red">{{ form.inputError.login_id }}</span>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 form-control-label">Password<span style="color: red;">*</span>
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control" name="password" value="{{form.password}}"
                                        type="password" placeholder="Enter your Password">

                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-2">
                                    <button type="submit" value="SignIn" class="btn btn-primary">Login

                                    </button>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <a class="btn btn-success" href="/ORS/Registration">SignUp</a>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <a href="/ORS/ForgetPassword" style="color: rgb(0, 0, 0);">forgot Password</a>
                            <div class="col-md-4"></div>


                        </div>


                    </form>
                </div>

            </div>
        </div>

    </div>
    {% include "./Footer.html"%}
</div>

<div class="col-md-4"></div>


{% include "./Footer.html"%}